<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta charset="utf-8">
        <title><%= color %></title>
        <meta name="description" content="Chess">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet"> 
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.js"></script>
    </head>
    <body class="grid-container" style="margin: 20px; background-color: burlywood;">  
        <p hidden="true" id="roomId"><%= roomId %></p>
    
        <div id="nameplate2">waiting</div>
        <div id="nameplate1"><%= myName %></div>
        <div id="display">Game Pending</div>
        <button id="leave" onclick="location.href='/rooms'"> Leave</button>
        <canvas id="chess" width="800" height="800"></canvas>
        <script src="main.js" type="module" defer></script>
    </body>
</html>