<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://unpkg.com/d3-3d/build/d3-3d.js"></script>
    <title>Rooms</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet"> 
  </head>
  <body style="background-color: tan">
    <main >
      <h1 id="available-games">AVAILABLE GAMES</h1>
      <div id="createRoom-box">
          <p>Room name</p>
          <textarea id="roomName" maxlength="14" required></textarea>
        <button id="createRoom" onclick="createRoom()">Create room</button>
      </div>
    <table class="table" style="margin-left: 44%; width:32rem">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Host</th>
      <th scope="col">Room</th>
    </tr>
  </thead>
  <tbody>
    <% let i = 1; %>
    <% roomList.forEach(function(room) { %>
        <tr>
            <td class="roomId" hidden="true"><%= room.roomId %></td>
            <td><%= i %></td>
            <td><%= room.host %></td>
            <td><%= room.name %></td>
        </tr>
    <% i++ %>
    <% }); %>
  </tbody>
</table>
<button id="logout" style="left:60px" onclick="location.href='/logout'">Logout</button>  
</main>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/socket.io/socket.io.js"></script>  
<script src="rooms.js" type="module" defer></script>
<script>
  "use strict";

  function createRoom(){
    let roomName = document.getElementById("roomName").value;
    // The name of the room has to be greater than 0 and less than 14 
    // characters long.
    if (roomName.length == 0 || roomName.length >= 14) {
      location.href = "/rooms";
      return;
    }
    location.href = "/createRoom?room=" + roomName;
  }
</script>
</body>
</html>