<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chess - login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/4ec8bd429a.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <div class="background-image"> </div>
        <p id="message" hidden="true"><%= msg %></p>
        <div id="welcome">
            <h1 style="padding: 7.5% 7.5% 0% 7.5%; font-size:38px;"> Welcome to Chess! Pick a username and start playing.</h1>
            <form method="POST" action="/login">
                <i class="fa fa-user" aria-hidden="true" style="padding-left: 1.0rem; padding-top: 0.1rem" minlength="2" maxlength="10"></i>
                <input class="textbox" type="text" placeholder="username" name="name" style="font-size: 25px" required>
                <button type="submit" id="login-button" style="margin-left: 4.0rem; margin-top: 15px; display:inline-block">Play</button>
            </form>
        </form>
        </div>
        <script defer>
            let input = document.querySelector(".textbox");
            if (document.getElementById("message").innerHTML){
                input.placeholder = document.getElementById("message").innerHTML;
            }
        </script>
    </body>
</html>