body, html {
    height: 100%;
}           

* {
    padding : 0px;
    margin: 0px;
    font-size: 45px;
    font-family: "Roboto";
}

.background-image {
    background-image: url("./images/chessboard.jpg");
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login, #welcome {
    width : 580px;
    height : 320px;
    background-color: rgba(172, 130, 17, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid  rgba(172, 130, 17, 0.4);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#login h1 {
    padding-left: 2rem;
    padding-top: 0.11rem;
}

.textbox {
    padding-top: 0rem;
    padding-left: 0.2rem;
    width: 60%;
    font-size: 25px;
}

button {
    width: fit-content;
    margin-top: 0.5rem;
    margin-left: 0rem;
    background: none;
    color: white;
    border: 3px solid white;
    display: inline-block;
}

button:hover {
    color: black ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 5px solid #005B4B;
    color : #005B4B   
}

#login-button {
    width : 170px;
    height: 65px;
    margin-left: 1.2rem;
}

