body {
    background-color: tan;
    font-family: 'Roboto', sans-serif;
    color : white;
}

h1, button {
    color:white;
}

button {
    background-color: #005B4B; 

}

#createRoom {
    font-family: 'Roboto'; 
    width:7em; 
    height:2em; 
    font-size: 36px; 
    border: 3px solid black; 
    border-radius: 5px;
    top : 1.4rem;
    position: relative;
}

#createRoom-box p {
    color:white; 
    font-size: 1em; 
    position: relative; 
    top:1rem; 
    left: 2rem; 
    float: left;
}

#leave {
    grid-column : 3 / 4;
    grid-row : 8 / 9;
}

#logout {
    bottom: 2.5em; 
    left: 9em; 
    position: fixed; 
    font-family: 'Roboto'; 
    width:7em; 
    height:2em; 
    font-size: 36px; 
    border: 3px solid black; 
    border-radius: 5px;
}

#chess {
    margin: 5% 2.5% 5% 24%; 
    float: left;
    border: 5px solid black;
}

tbody tr:hover {
    background-color: #da8b24;
}

table > * {
    color: white;
}

* {
    font-size: 25px;
    font-weight: 800;
}

thead {
    border-top: 0px solid black;
    border-bottom: 5px solid white;
}

.grid-container > * {
    padding : 0px;
    margin: 0px;
    font-family: "Roboto";
    font-size: 36px;
    color : white;
    border : 3px solid black;
    border-radius: 5px;
}

.grid-container {
    grid-gap: 3px;
    display: grid;
    grid-template-columns: 35px 25px 240px 25px 35px 100px 800px 25px 170px 25px 35px 100px;
    grid-template-rows: 125px 75px 65px 120px 65px 75px 145px 65px 75px 75px;
}

#chess {
    grid-row : 1 / 6;
    grid-column: 6 / 7;
}   

#nameplate2 {
    grid-row : 2 / 3;
    grid-column : 3 / 4;
    padding : 2.5%;
    background-color:#BD871F;
}

#nameplate1 {
    padding : 2.5%;
    grid-row : 6 / 7;
    grid-column : 3 / 4 ;
    background-color:#BD871F;
}

#display {
    padding : 2.5%;
    grid-column : 2 / 5 ;
    grid-row : 4 / 5;
    font-size: 30px;
    padding-top: 6%;
    background-color:#BD871F;
}


div {
    background-color: #CC593A;
}

button:hover {
    color: black ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#createRoom-box{
    border : 3px solid black; 
    width : 21rem; 
    height : 7.3rem; 
    position: absolute; 
    top: 11.5rem; 
    left : 1rem;
    background-color: #BD871F; 
    border-radius: 5px;
}

#roomName {
    resize: none; 
    word-wrap: none; 
    width : 9em; 
    position: relative; 
    top: 1rem; 
    left: 3rem; 
    border-radius: 5px; 
    height:1.7em;
    overflow:hidden;
}

#available-games{
    margin:6% 5% 2% 47%; 
    font-weight: 700;
}